Pertama-tama, data dari file CSV dimuat menggunakan pandas. Load CSV disertai argumen ```names``` untuk memberikan nama ke masing-masing kolom sesuai spesifikasi.

In [38]:
import pandas as pd
import numpy as np
from scipy.stats import iqr, normaltest
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

df = pd.read_csv("Gandum.csv", names=["id", "Daerah", "SumbuUtama", "SumbuKecil", "Keunikan", "AreaBulatan", "Diameter", "KadarAir", "Keliling", "Bulatan", "Ransum", "Kelas"])
df

,id,Daerah,SumbuUtama,SumbuKecil,Keunikan,AreaBulatan,Diameter,KadarAir,Keliling,Bulatan,Ransum,Kelas
0,1,5781,128.288875,58.470846,0.890095,5954,85.793926,0.674090,316.756,0.724041,2.194066,1
1,2,4176,109.348294,49.837688,0.890098,4277,72.918093,0.596231,260.346,0.774227,2.194088,1
2,3,4555,114.427991,52.151207,0.890105,4706,76.155145,0.776641,279.606,0.732159,2.194158,1
3,4,4141,108.701191,49.457349,0.890499,4236,72.611879,0.633180,260.478,0.766960,2.197877,1
4,5,5273,122.747869,55.757848,0.890876,5431,81.937733,0.669842,302.730,0.723031,2.201446,1
...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,5083,120.083450,54.821580,0.889709,5179,80.447975,0.534827,286.377,0.778850,2.190441,2
496,497,4432,112.367050,51.294914,0.889726,4550,75.119889,0.601194,270.823,0.759344,2.190608,2
497,498,5020,119.873742,54.718545,0.889740,5104,79.947874,0.528421,285.799,0.772311,2.190733,2
498,499,4035,107.311728,48.930802,0.889996,4150,71.676506,0.584698,258.503,0.758791,2.193132,2
499,500,3379,99.014789,44.631551,0.892647,3491,65.591741,0.653578,237.593,0.752196,2.218493,2

Terdapat 500 baris dan 12 kolom yang menandakan jumlah data (n) sebanyak 500 dan jumlah kolom data sebanyak 12.

Selanjutnya, tipe data masing-masing kolom akan dicek untuk menentukan kolom mana saja yang numerik.

In [39]:
df.dtypes

id               int64
Daerah           int64
SumbuUtama     float64
SumbuKecil     float64
Keunikan       float64
AreaBulatan      int64
Diameter       float64
KadarAir       float64
Keliling       float64
Bulatan        float64
Ransum         float64
Kelas            int64
dtype: object

Diketahui tipe data seluruh kolom adalah numerik (int64 atau float64). Oleh karena itu, dapat dilakukan deskripsi statistika di seluruh kolom data.

Sebelum ke deskripsi, akan dicek terlebih dahulu keberadaan missing values (NaN) pada data.

In [40]:
df.isnull().sum()

id             0
Daerah         0
SumbuUtama     0
SumbuKecil     0
Keunikan       0
AreaBulatan    0
Diameter       0
KadarAir       0
Keliling       0
Bulatan        0
Ransum         0
Kelas          0
dtype: int64

Tidak terdapat missing values pada data. Oleh karena itu tidak perlu dilakukan penanganan khusus bagi data NaN.

# Nomor 1

Menulis deskripsi statistika dari semua kolom pada data yang bersifat numerik, terdiri dari mean, median, modus, standar deviasi, variansi, range, nilai minimum, maksimum, kuartil, IQR, skewness dan kurtosis.

Gambaran umum data dapat dicari dengan method ```describe```

In [41]:
df.describe()

,id,Daerah,SumbuUtama,SumbuKecil,Keunikan,AreaBulatan,Diameter,KadarAir,Keliling,Bulatan,Ransum,Kelas
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,250.500000,4801.246000,116.045171,53.715246,0.878764,4937.048000,77.771158,0.648372,281.479722,0.761737,2.150915,1.502000
std,144.481833,986.395491,18.282626,4.071075,0.036586,1011.696255,8.056867,0.094367,37.335402,0.061702,0.249767,0.500497
min,1.000000,2522.000000,74.133114,39.906517,0.719916,2579.000000,56.666658,0.409927,197.015000,0.174590,1.440796,1.000000
25%,125.750000,4042.750000,104.116098,51.193576,0.863676,4170.250000,71.745308,0.572632,255.883000,0.731991,1.983939,1.000000
50%,250.500000,4735.000000,115.405140,53.731199,0.890045,4857.000000,77.645277,0.626117,280.045500,0.761288,2.193599,2.000000
75%,375.250000,5495.500000,129.046792,56.325158,0.907578,5654.250000,83.648598,0.726633,306.062500,0.796361,2.381612,2.000000
max,500.000000,7453.000000,227.928583,68.977700,0.914001,7720.000000,97.413830,0.878899,488.837000,0.904748,2.464809,2.000000

Dari hasil tersebut sudah dapat terlihat beberapa statistik data seperti mean, standar deviasi, nilai minimum, nilai maksimum, dan kuartil.

Berikutnya akan dilihat statistik masing-masing kolom atribut mulai dari kolom "Daerah" hingga kolom "Ransum".

In [42]:
def descriptive_statistics(df):
    print("Mean:", df.mean())
    print("Median:", df.median())
    print("Modus:", df.mode("index")[0])
    print("Standar Deviasi:", df.std())
    print("Variansi:", df.var())
    print("Range:", df.max()-df.min())
    print("Nilai Minimum:", df.min())
    print("Nilai Maksimum:", df.max())
    print("Kuartil pertama:", df.quantile(0.25))
    print("Kuartil kedua:", df.quantile(0.5))
    print("Kuartil ketiga:", df.quantile(0.75))
    print("Interquartile Range:", iqr(df))
    print("Skewness:", df.skew())
    print("Kurtosis:", df.kurtosis())

### Daerah

Deskripsi Statistika untuk Kolom Daerah

In [43]:
descriptive_statistics(df["Daerah"])

Mean: 4801.246
Median: 4735.0
Modus: 3992
Standar Deviasi: 986.3954914816018
Variansi: 972976.0656152307
Range: 4931
Nilai Minimum: 2522
Nilai Maksimum: 7453
Kuartil pertama: 4042.75
Kuartil kedua: 4735.0
Kuartil ketiga: 5495.5
Interquartile Range: 1452.75
Skewness: 0.23814408738280812
Kurtosis: -0.4346305340273977

### SumbuUtama

Deskripsi Statistika untuk Kolom SumbuUtama

In [44]:
descriptive_statistics(df["SumbuUtama"])

Mean: 116.04517136778003
Median: 115.40513994999999
Modus: 74.13311404
Standar Deviasi: 18.28262595755936
Variansi: 334.25441190402336
Range: 153.79546865999998
Nilai Minimum: 74.13311404
Nilai Maksimum: 227.9285827
Kuartil pertama: 104.11609817499999
Kuartil kedua: 115.40513994999999
Kuartil ketiga: 129.046792025
Interquartile Range: 24.93069385000001
Skewness: 0.7615287378076631
Kurtosis: 4.330533548436968

### SumbuKecil

Deskripsi Statistika untuk Kolom SumbuKecil

In [45]:
descriptive_statistics(df["SumbuKecil"])

Mean: 53.71524598896002
Median: 53.731198774999996
Modus: 39.90651744
Standar Deviasi: 4.071074752475035
Variansi: 16.573649640239662
Range: 29.071182429999993
Nilai Minimum: 39.90651744
Nilai Maksimum: 68.97769987
Kuartil pertama: 51.1935763325
Kuartil kedua: 53.731198774999996
Kuartil ketiga: 56.3251579825
Interquartile Range: 5.131581650000001
Skewness: -0.010828051555611359
Kurtosis: 0.47556845043813656

### Keunikan

Deskripsi Statistika untuk Kolom Keunikan

In [46]:
descriptive_statistics(df["Keunikan"])

Mean: 0.878763914340001
Median: 0.8900454185
Modus: 0.7199162259999999
Standar Deviasi: 0.03658590550477702
Variansi: 0.0013385284816044736
Range: 0.19408517999999997
Nilai Minimum: 0.7199162259999999
Nilai Maksimum: 0.9140014059999999
Kuartil pertama: 0.8636757527500001
Kuartil kedua: 0.8900454185
Kuartil ketiga: 0.907577917
Interquartile Range: 0.04390216424999993
Skewness: -1.6234718222806501
Kurtosis: 2.917255925694389

### AreaBulatan

Deskripsi Statistika untuk Kolom AreaBulatan

In [47]:
descriptive_statistics(df["AreaBulatan"])

Mean: 4937.048
Median: 4857.0
Modus: 3802
Standar Deviasi: 1011.6962549701573
Variansi: 1023529.3123206415
Range: 5141
Nilai Minimum: 2579
Nilai Maksimum: 7720
Kuartil pertama: 4170.25
Kuartil kedua: 4857.0
Kuartil ketiga: 5654.25
Interquartile Range: 1484.0
Skewness: 0.2575600053152032
Kurtosis: -0.40968492037366033

### Diameter

Deskripsi Statistika untuk Kolom Diameter

In [48]:
descriptive_statistics(df["Diameter"])

Mean: 77.77115780832005
Median: 77.64527658
Modus: 71.29356396
Standar Deviasi: 8.056867291849715
Variansi: 64.91311055847777
Range: 40.747172240000005
Nilai Minimum: 56.66665803
Nilai Maksimum: 97.41383027
Kuartil pertama: 71.74530754749999
Kuartil kedua: 77.64527658
Kuartil ketiga: 83.6485975675
Interquartile Range: 11.903290020000014
Skewness: 0.002724966865193717
Kurtosis: -0.4664545130312141

### KadarAir

Deskripsi Statistika untuk Kolom KadarAir

In [49]:
descriptive_statistics(df["KadarAir"])

Mean: 0.6483716718980002
Median: 0.626116699
Modus: 0.735849057
Standar Deviasi: 0.0943670980937953
Variansi: 0.008905149202643984
Range: 0.46897193099999995
Nilai Minimum: 0.409927152
Nilai Maksimum: 0.878899083
Kuartil pertama: 0.57263245725
Kuartil kedua: 0.626116699
Kuartil ketiga: 0.7266333445000001
Interquartile Range: 0.15400088725000005
Skewness: 0.49366131797330265
Kurtosis: -0.7403261705867821

### Keliling

Deskripsi Statistika untuk Kolom Keliling

In [50]:
descriptive_statistics(df["Keliling"])

Mean: 281.479722
Median: 280.04549999999995
Modus: 197.015
Standar Deviasi: 37.335401715143995
Variansi: 1393.9322212311772
Range: 291.822
Nilai Minimum: 197.015
Nilai Maksimum: 488.837
Kuartil pertama: 255.88299999999998
Kuartil kedua: 280.04549999999995
Kuartil ketiga: 306.0625
Interquartile Range: 50.17950000000002
Skewness: 0.7336269072005543
Kurtosis: 2.272684731245571

### Bulatan

Deskripsi Statistika untuk Kolom Bulatan

In [51]:
descriptive_statistics(df["Bulatan"])

Mean: 0.7617374363080005
Median: 0.7612884395
Modus: 0.174590178
Standar Deviasi: 0.0617024607867326
Variansi: 0.0038071936671382743
Range: 0.7301581349999999
Nilai Minimum: 0.174590178
Nilai Maksimum: 0.9047483129999999
Kuartil pertama: 0.731990728
Kuartil kedua: 0.7612884395
Kuartil ketiga: 0.79636096975
Interquartile Range: 0.06437024175000006
Skewness: -3.5992367663616407
Kurtosis: 29.97509590463005

### Ransum

Deskripsi Statistika untuk Kolom Ransum

In [52]:
descriptive_statistics(df["Ransum"])

Mean: 2.150915331084002
Median: 2.1935990365
Modus: 1.440795615
Standar Deviasi: 0.24976688927065827
Variansi: 0.06238349897594127
Range: 1.0240129659999997
Nilai Minimum: 1.440795615
Nilai Maksimum: 2.4648085809999998
Kuartil pertama: 1.98393879075
Kuartil kedua: 2.1935990365
Kuartil ketiga: 2.38161221825
Interquartile Range: 0.3976734275
Skewness: -0.6581880925333653
Kurtosis: -0.4286557930626156

# Nomor 3

Menentukan setiap kolom numerik berdistribusi normal atau tidak. Gunakan normality test
yang dikaitkan dengan histogram plot.

Normality test dilakukan dengan menggunakan fungsi ```normaltest``` dari library scipy. Implementasi normality test jenis ini didasarkan pada **D'Agostino-Pearson Test**. 

Tes D'Agostino-Pearson, atau disebut juga Tes D'Agostino $K^2$, dilakukan dengan melihat nilai skewness dan kurtosis.

In [53]:
def normality_test(df):
    k2, p = normaltest(df)
    print("P-value yang didapat sebesar", p)
    if (p < 0.05):
        print("Hipotesis nol ditolak. Data tidak terdistribusi normal.")
    else:
        print("Hipotesis nol diterima. Data terdistribusi normal.")

In [54]:
normality_test(df["Daerah"])

P-value yang didapat sebesar 0.004386271773193838
Hipotesis nol ditolak. Data tidak terdistribusi normal.